<section>
  <header>
    <h2>Add unique forms</h2>
  </header>
  <!-- This is how we hook up the namesForm to our template  -->
  <form [formGroup]="namesForm" (ngSubmit)="addName()">
    <mat-form-field>
      <!-- we use formControlName to speficy which property holds a reference to our form control -->
      <input type="text" matInput placeholder="First name" formControlName="firstName">
      <mat-error data-first-name-required-error *ngIf="hasError('firstName', 'required')">Please enter a first name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Last name" formControlName="lastName">
      <mat-error data-last-name-required-error *ngIf="hasError('lastName', 'required')">Please enter a last name</mat-error>
    </mat-form-field>

    <mat-error data-name-exists-error *ngIf="namesForm.errors && namesForm.errors[NOT_UNIQUE_NAME_ERROR]">Name already exists</mat-error>
    <button data-form-submit mat-raised-button color="accent" [disabled]="namesForm.invalid" type="submit">Add a name</button>
  </form>
</section>